.main-chat
  .main-chat__group-info
    .group-status
      %p.group-status__group-name
        techcamp
      %p.group-status__member
        Member： masa
    = link_to "#", class: 'edit-button' do
      %p.link-chr
        Edit
  .messages
    = render @messages
  .main-chat__message-form
    .form-wrapper.form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form-wrapper__text-areae', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form-wrapper__file-choose' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'invisible'
        = f.submit 'Send', class: 'submit-button'
