.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        masa
      %ul.top-items__icon
        .li
          = link_to "#", class: 'icon-link left-icon' do
            %i.far.fa-edit
        .li
          = link_to "#", class: 'icon-link' do
            %i.fas.fa-cog
  .side-bar__group-list
    .a-group
      = link_to "#", class: 'a-group__group-link' do
        %p.a-group__group-name
          techcamp
        %p.a-group__group-status
          まだメッセージがありません

    .a-group
      = link_to "#", class: 'a-group__group-link' do
        %p.a-group__group-name
          CHAT-GROUP
        %p.a-group__group-status
          まだメッセージがありません

    .a-group
      = link_to "#", class: 'a-group__group-link' do
        %p.a-group__group-name
          talkbox
        %p.a-group__group-status
          まだメッセージがありません
