.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icon
        .li
          = link_to new_group_path, class: 'icon-link left-icon' do
            %i.far.fa-edit
        .li
          = link_to edit_user_path(current_user), class: 'icon-link' do
            %i.fas.fa-cog
  .side-bar__group-list
    - current_user.groups.each do |group|
      .a-group
        = link_to "#", class: 'a-group__group-link' do
          %p.a-group__group-name
            = group.name
          %p.a-group__group-status
            まだメッセージがありません
